<%- include('partials/header') -%>
  <div class="main2">
    <section class="formBox single">
      <section class="jobHeader">
        <div class="two-thirds2">
          <div class="displayPic" style="background-color:'#<%= jobPost.colour%>'">
          <%= jobPost.companyLogo%>
          <span class="displayPicText">
            <%= jobPost.company[0]%>
          </span>
        </div>
        <h2 class="mainJobTitle"><%= jobPost.jobTitle%></h2>
        <h4><%= jobPost.company%></h4>
        </div>
        <div class="">
          <a href="/jobPost/editJob/<%= jobPost.id %>" class="btn">Edit Job</a>
        </div>
      </section>
      <h2 class="jobHead">Job Description</h2>
      <section class="jobDescription jobSection">
        <div class="jobHalf">
          <h3 class="jobCatTitle">Job Title:</h3>
          <span><%= jobPost.jobTitle%></span>
          <h3 class="jobCatTitle">Job Post URL:</h3>
          <a href="<%= jobPost.jobPostURL%>" class="link"><span><%= jobPost.jobPostURL%></span></a>
          <h3 class="jobCatTitle">Company:</h3>
          <span><%= jobPost.company%></span>
          <h3 class="jobCatTitle">Company URL:</h3>
          <a href="<%= jobPost.companyURL%>" class="link"><span><%= jobPost.companyURL%></span></a>
        </div>
        <div class="jobHalf">
          <h3 class="jobCatTitle">Job Location:</h3>
          <span><%= jobPost.jobLocation%></span>
          <h3 class="jobCatTitle">Expected Salary:</h3>
          <span><%= jobPost.salary%></span>
          <h3 class="jobCatTitle">Description:</h3>
          <span><%= jobPost.description%></span>
          <h3 class="jobCatTitle">Skills Required:</h3>
          <span><%= jobPost.skillsRequired%></span>
        </div>
      </section>

      <section class="jobSection">
        <h2 class="jobHead">Job Status</h2>
        <div class="jobHalf">
          <% if(jobPost.active === true && jobPost.applied === false && jobPost.intview === false && jobPost.offer === false && jobPost.jobVault === false) { %>
            <span class="jobStatus">Active</span>
          <% } else if (jobPost.applied === true && jobPost.intview === false && jobPost.offer === false && jobPost.jobVault === false) { %>
            <span class="jobStatus">Applied</span>
          <% } else if (jobPost.intview === true && jobPost.offer === false && jobPost.offerAccepted === false && jobPost.jobVault === false) { %>
            <span class="jobStatus">Interviewing</span>
          <% } else if (jobPost.offer === true && jobPost.offerAccepted === false && jobPost.jobVault === false) { %>
            <span class="jobStatus">Negotiating Offer</span>
          <% } else if (jobPost.offerAccepted === true && jobPost.jobVault === false) { %>
            <span class="jobStatus">Offer Accepted! Yay!</span>
          <% } else if (jobPost.jobVault === true) { %>
            <span class="jobStatus">Vaulted</span>
          <% }
          %> 
        </div>
        <div>
          <fieldset>
            <form action="/jobPost/updateJobStatus/<%= jobPost.id %>?_method=PUT" enctype="multipart/form-data" method="POST">
              <label for="jobStatus">Update Job Status:</label><br>
              <select name="jobStatus" id="jobStatus">
                <option value="active" name="active" id="active">Active</option>
                <option value="applied" name="applied" id="applied">Applied</option>
                <option value="interviewing" name="intView" id="intView">Interviewing</option>
                <option value="negotiating" name="offered" id="offered">Negotiating</option>
                <option value="offer-accepted" name="active" id="active">Offer Accepted</option>
                <option value="move-to-vault" name="active" id="active">Move to Vault</option>
              </select>
              <button type="submit" class="btn btn" value="submit">Update</button>
            </form>
          </fieldset>

        </div>
      </section>
    
      <section class="interviewSection">
        <h2 class="jobHead">Interviews</h2> 
        <%# TODO: Add Interview Feedback %>
        <span class="grey">Are you interviewing for this position?</span>
        <section class="interviewPanel">
          <div class="interviewSingle one-third">
            <a href="/addInterview" class="add-btn" type="button"><i class="fa fa-circle-plus fa-2x"></i> <span class="addBtnText">Add an Interview</span></a>
          </div>
          <div class="interviewSingle one-third">
            <a href="/addInterview" class="add-btn" type="button"><i class="fa fa-circle-plus fa-2x"></i> <span class="addBtnText">Add an Interview</span></a>
          </div>
          <div class="interviewSingle one-third">
            <a href="/addInterview" class="add-btn" type="button"><i class="fa fa-circle-plus fa-2x"></i> <span class="addBtnText">Add an Interview</span></a>
          </div>
        </section>
      </section>

      <section class="contactsSection">
        <h2 class="jobHead">Contacts</h2>
        <%# TODO: Add Contacts Section %>
        <section class="interviewPanel">
          <div class="jobHalf">
            <span class="grey">People who work at <%= jobPost.company %></span>
            <button href="/addContact" class="btn btnSpace">Add a Contact</button>
          </div>
          <div class="">
            
          </div>
        </section>
        <div>
          
        </div>
        
      </section>

      <section class="networkingSection">
        <h2 class="jobHead">Networking</h2> 
        <%# TODO: Add Networking Feedback %>
        <span class="grey">Meet with contacts at <%= jobPost.company %></span>
        <section class="interviewPanel">
          <div class="interviewSingle one-third">
            <a href="/addEvent" class="add-btn" type="button"><i class="fa fa-circle-plus fa-2x"></i> <span class="addBtnText">Add an Event</span></a>
          </div>
          <div class="interviewSingle one-third">
            <a href="/addEvent" class="add-btn" type="button"><i class="fa fa-circle-plus fa-2x"></i> <span class="addBtnText">Add an Event</span></a>
          </div>
          <div class="interviewSingle one-third">
            <a href="/addEvent" class="add-btn" type="button"><i class="fa fa-circle-plus fa-2x"></i> <span class="addBtnText">Add an Event</span></a>
          </div>
        </section>
      </section>

      <%# TODO: Add form to add notes to job post %>
      <h2 class="jobHead">Additional Notes</h2>
        <p class="additionalNotes"></p>
    </section>
    <div class="bottomBtns">
        <%if(jobPost.user == user.id){ %>
        <form
          action="/jobPost/deleteJobPost/<%= jobPost.id %>?_method=DELETE"
          method="POST"
          class=""
        >
          <button class="btn btnDelete" type="submit"><i class="fa fa-trash"></i>Delete Job Post</button>
        </form>
        <%}%>
        <a class="btn btn2" href="/profile" type="button">Return to Profile</a>
      </div>
  </div>

<%- include('partials/footer') -%>

