<%- include('partials/header') -%>
<section class="">
  <section class="userArea">
      <section class="sectionInlay userInfo">
          <div class="displayPic">
            <%= user.userName[0] %>
            <%#<img src="" alt="user's profile image">%>
          </div>
          <div class="userInfoTextArea">
              <span class="userInfoText"><strong>User Name</strong>: <%= user.userName %></span>
              <span class="userInfoText"><strong>Job Title</strong>: <%= user.jobTitle %></span>
          </div>
          <div class="nextInterview">
            Next Interview:
          </div>
          <div class="nextCoffeeChat">
            Next Coffee Chat:
          </div>
      </section>

      <br><br>
      <%# Job Feed %>
      <div class="jobBoardHeader">
        <h2 class="profileHeader">My Job Bank</h2>
        <a href="/addJob" class="btn add-btn"><i class="fa fa-circle-plus fa-2x"></i> <span class="addBtnText">Add a Job</span></a>
      </div>
       <%# TODO: Update colour based on interest level, maybe add a special marking or layout so it isn't entirely colour dependent %>
      <section class="sectionInlay jobBoard">
        <div class="grid-item">
          <ul class="jobList">
          <% for(var i=0; i<jobPosts.length; i++) {%>
            <a href="/jobPost/<%= jobPosts[i]._id%>" class="">
              <li class="jobListItem">
                <div class="displayPic companyLogo">
                  <span class="displayPicText">
                    <%= jobPosts[i].company[0]%>
                  </span>
                </div>
                <div>
                  <h2 class="jobListText jobListTitle"><%= jobPosts[i].jobTitle%></h2>
                  <h2 class="jobListText"><%= jobPosts[i].company%></h2>
                </div>
              </li>
            </a>
          <% } %>
          </ul>
        </div>
      </section>

      <%# Interview Feed %>
      <div class="jobBoardHeader">
        <h2 class="profileHeader">Interviews</h2>
        <a href="/addInterview" class="btn add-btn"><i class="fa fa-circle-plus fa-2x"></i> <span class="addBtnText">Add an Interview</span></a>
      </div>
      <section class="sectionInlay jobBoard">
        <div class="grid-item">
          <ul class="jobList">
          <% for(var i=0; i<interviews.length; i++) {%>
            <a href="/interview/<%= interviews[i]._id%>" class="">
              <li class="jobListItem">
                <div class="displayPic companyLogo">
                  <span class="displayPicText">
                    <%= interviews[i].intCompany[0]%>
                  </span>
                </div>
                <div>
                  <h2 class="jobListText jobListTitle"><%= interviews[i].intDate.toDateString()%></h2>
                   <%# TODO:  Convert time from military to standard%>
                  <h2 class="jobListText"><%= interviews[i].intTime %>
                      @ <%= interviews[i].intLocation%></h2>
                  <h2 class="jobListText"><%= interviews[i].intCompany%></h2>
                </div> 
              </li>
            </a>
          <% } %>
          </ul>
        </div>
      </section>

      <%# Coffee Chat Feed %>
      <div class="jobBoardHeader">
        <h2 class="profileHeader">Networking Events</h2>
        <a href="/addEvent" class="btn add-btn"><i class="fa fa-circle-plus fa-2x"></i> <span class="addBtnText">Add an Event</span></a>
      </div>
       <%# TODO:  %>
      <section class="sectionInlay jobBoard">
        <div class="grid-item">
          <ul class="jobList">
          <% for(var i=0; i<events.length; i++) {%>
            <a href="/event/<%= events[i]._id%>" class="">
              <li class="jobListItem">
                <div class="displayPic companyLogo">
                  <span class="displayPicText">
                    <%= events[i].eventTitle%>
                  </span>
                </div>
                <div>
                  <h2 class="jobListText jobListTitle"><%= events[i].eventDate%></h2>
                  <h2 class="jobListText"><%= events[i].eventTime%> @ <%= events[i].eventLocation%></h2>
                  <h2 class="jobListText"><%= events[i].eventTitle%></h2>
                </div> 
              </li>
            </a>
          <% } %>
          </ul>
        </div>
      </section>

  </section>
</section>
<%- include('partials/footer') -%>


        <%#
          <div class="">
            <a class="btn btn-primary" href="/feed">Return to Feed</a>
          </div>  
        </div>
        %>
        