<%- include('partials/header') -%>
  <section class="userArea">
      <section class="sectionInlay userInfo">
          <div class="displayPic">
            <%= user.userName[0] %>
            <%#<img src="" alt="user's profile image">%>
          </div>
          <div class="userInfoTextArea">
              <span class="userInfoText"><strong>User Name</strong>: <%= user.userName %></span>
              <span class="userInfoText"><strong>Job Title</strong>: <%= user.jobTitle %></span>
          </div>
          <div class="nextInterview">
            Next Interview:
          </div>
          <div class="nextCoffeeChat">
            Next Coffee Chat:
          </div>
      </section>

      <br><br>
      <%# Job Feed %>
      <h2>My Job Board</h2>
          <a href="/addJob" class="btn btn-primary">Add a Job</a>
      <section class="sectionInlay jobBoard">
        <div class="grid-item">
          <ul class="jobList">
          <% for(var i=0; i<jobPosts.length; i++) {%>
            <li class="jobListItem">
              <a href="/jobPost/<%= jobPosts[i]._id%>" class="">
                <div class="displayPic companyLogo">
                  <%= jobPosts[i].company[0]%>
                </div>
                <h2 class="jobListText jobListTitle"><%= jobPosts[i].jobTitle%></h2>
                <h2 class="jobListText"><%= jobPosts[i].company%></h2>
              </a>
            </li>
          <% } %>
          </ul>
      </div>
      <div class="grid-item">
        Testing
      </div>
      </section>

  </section>
<%- include('partials/footer') -%>


        <%#
          <div class="">
            <a class="btn btn-primary" href="/feed">Return to Feed</a>
          </div>  
        </div>
        %>
        